@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 2rem;
  }
  
  /* Main marketing message and sign up button */
  .jumbotron {
    text-align: left;
  }
  
  .header-clearfix {
    color: white;
    text-emphasis-color: red;
    align-content: right;
  }
  
  .nav-navbar-nav{
    text-align: right;
  }

  .button{
      color: rgb(255, 31, 31);
  }
  
  footer {
    background-color: rgb(99, 99, 99);
    color:gray;
  }