@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 2rem;
  }
  
  /* Main marketing message and sign up button */
  .jumbotron {
    text-align: center;
  }
  
  .header-clearfix {
    color: grey;
    text-emphasis-color: grey;
  }
  
  #MainNav a{
    color: grey;
    text-decoration:none;
  }
  
  #MainNav a:hover {
   color: blue;
   text-decoration: underline;
  }
  
  footer {
    padding-top: 2rem;
    background-color: rgb(99, 99, 99);
    color:gray;
  }