@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 2rem;
  }
  
  /* Main marketing message and sign up button */
  .jumbotron {
    text-align: left;
    margin-bottom:0;
  }

  #Home.jumbotron{
    background-image: url("../img/ManStudying.jpg");
    background-size: cover;
    color: black;
    margin-bottom:0;  
  }

  #HowItWorks.jumbotron {
    text-align: center;
    align-content: center;
    margin-bottom:0;
  }

  #Popular.jumbotron {
    text-align: center;
    align-content: center;
    background-color: red;
    margin-bottom:0;
  }


  #Account.jumbotron {
    text-align: center;
    align-content: center;
    background-color: rgb(240, 239, 239);
    margin-bottom:0;
  }

  .header-clearfix {
    color: white;
    text-emphasis-color: red;
    align-content: right;
  }
  
  #features.col-lg-2{
    align-content: center
  }

  .nav-navbar-nav{
    text-align: right;
  }


  .button{
      color: rgb(255, 31, 31);
  }
  
  footer {
    background-color: rgb(99, 99, 99);
    color:gray;
  }
