<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
  {% load thumbnail %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>{% block title %} {% endblock %}</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    {% block styles %}
    <link href="{% static 'site/css/main.css' %}" rel="stylesheet">
    {% endblock styles %}
    
    {% block extrahead %}{% endblock extrahead %}
  </head>

  <body>
    <div class="container">
        <div class="header clearfix">
          <nav id="MainNav">
            <ul class="nav nav-pills float-right">
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tour</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
            </ul>
          </nav>
          <h3 class="text-muted">ScheduleThis</h3>
          </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      </div>
      <p><a class="btn btn-secondary" href="#" role="button">Get Started</a></p>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col">
          <h2>Upload Document</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col">
            <div class="text-center">
                <img class="img-responsive" src="{% static 'site/img/arrow-graphics-7.png' %}" alt="ARROW RIGHT" width="150">
            </div>
         </div>
        <div class="col">
          <h2>We extract information</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
       </div>
       <div class="col">
            <div class="text-center">
                <img class="img-responsive" src="{% static 'site/img/arrow-graphics-7.png' %}" alt="ARROW RIGHT" width="150">
            </div>
        </div>
        <div class="col">
          <h2>We email you ...</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
      </div>

    </div> <!-- /container -->
    <div class="jumbotron">
        <div class="file-upload-wrapper">
            <input type="file" id="input-file-now-custom-1" class="file-upload" data-default-file="https://mdbootstrap.com/img/Photos/Others/images/89.jpg" />
        </div>
    </div>
    {% block footer %}
    <footer>
            <p>&copy; RCOS</p>
    </footer>
    {% endblock %}
  </body>
  
</html>

